<div id="wrap">

  <h1>Eat A Burger</h1>

  <div id="notEaten" class="section">

    <h2>Not Yet Devoured</h2>

    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
        <li>
            {{this.id}}
            {{this.burger_name}}
          <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devour" value="true">
              <button type="submit">Devour it!</button>
            </form>
        </li>
        {{/unless}}
      {{/each}}
    </ul>

  </div>

  <img src="img/burger.png">

  <div id="eaten" class="section">

    <h2>Devoured</h2>

    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
        <li>
            {{this.id}}
            {{this.burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>

  </div>

  <div id="add" class="section">

    <h2>Add a Burger</h2>
    <form class="add-form" action="/" method="POST">

      <div class="form-group">
        <p for="ca">Burger Name:</p>
        <input type="text" id="ca" name="name">
      </div>

      <button class="btn waves-effect waves-light btn btn-floating pulse " type="submit" name="action">+</button>
    </form>

  </div>

</div>
